<h3>Some javascript drafts</h3>


<p id="demo">This space is refilled with other stuff when you click the button</p>

<p><button type="button" class="btn btn-primary" 
onclick='document.getElementById("demo").innerHTML = "<%= checkforcookie %>"'>
    call a method</button>

<button type="button" class="btn btn-primary"
onclick="document.getElementById('demo').innerHTML = Date()">
puts Date and Time.</button>

<button type="button" class="btn btn-primary"
onclick="document.getElementById('demo').innerHTML = document.cookie">
Show all cookies.</button></p>

<p>
<img id="myImage" src="/heads.jpg" style="width:100px">
</p>
<button class="btn btn-primary" onclick="document.getElementById('myImage').src='/tails.jpg'">tails</button>
<button class="btn btn-primary" onclick="document.getElementById('myImage').src='/heads.jpg'">heads</button>




<p><hr></p>