
<h1>Toy apps</h1>
<p>This is a placeholder for several Rails and JS toy apps</p>

<ul>

<li><%= link_to "Flip a Coin - JavaScript Version", 'static_pages/flipjs' %> - 
A coin is flipped constantly and the results are tracked in real time.</li>

<li><%= link_to "Flip a Coin - Rails Version", 'static_pages/fliprails' %> - 
Same as above, but using cookies and Rails methods. The page is reloaded for each flip.</li>


<li><%= link_to "The randomizer", 'static_pages/randomizer' %> - 
A button is pressed and a random piece of content is loaded in the Browser. 
A proof of concept on how to load a remote partial inside an AJAX field.</li>



<li><%= link_to "Help and notes", 'static_pages/help' %> This is currently a Sandbox without real content.</li>


</ul>




