
<h1>Toy apps</h1>
<p>This is a placeholder for several Rails and JS toy apps</p>

<ul>
<li><%= link_to "Flip a Coin - JavaScript Version", 'static_pages/flipjs' %></li>
<li><%= link_to "Flip a Coin - Rails Version", 'static_pages/fliprails' %></li>
<li><%= link_to "Flip a Coin - Help and notes", 'static_pages/help' %></li>
</ul>




