<h1>Random <%= Faker::Hipster.word.upcase %></h1>

<p>You flipped a coin and got <strong><%= flipcoin %></strong></p>
<hr>
<p><%= Faker::ChuckNorris.fact %></p>
<hr>
<p><%= Faker::Hacker.say_something_smart %></p>
