<head>
    <title>flip the coin</title>
</head>
<meta http-equiv="refresh" content="1" />
<p>You flipped a coin and got <strong><%= flipcoin.upcase %></strong></p>


<div class="info">
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice]%></div>
  <% end %>
<% consecutives %>
<% if cookies[:consmatches].to_i == 0 and \
                      [cookies[:tailsrecord], cookies[:headsrecord]].max == 0 %>
  <p>No consecutive results yet</p> 
<% elsif cookies[:pingpongs] == 1  %>
  <p>Series ended. Start over.</p>
<% elsif cookies[:consmatches].to_i == 0 %>
  <p>Different results for the last <%= cookies[:pingpongs] %> 
  <%= "shot".pluralize(cookies[:pingpongs]) %>.</p>
<% else %>
  <p>Got <strong><%= cookies[:lastresult] %></strong> for 
  <%= cookies[:consmatches] %> consecutive 
  <%= "time".pluralize(cookies[:consmatches].to_i) %>.</p>
<% end %>
</div>

<p>You flipped the coin <strong><%= cookies[:totalflips] %></strong> times. 
<ul>
  <li><strong><%= cookies[:headseries] %></strong> heads</li> 
  <li><strong><%= cookies[:tailseries] %></strong> tails</li>
  <li>record of consecutive heads: <strong><%= cookies[:headsrecord] %></strong></li>
  <li>record of consecutive tails: <strong><%= cookies[:tailsrecord] %></strong></li>
  <li>record of alternate flips: <strong><%= cookies[:pingpongsrecord] %></strong></li>
</ul>
</p>

<p class="smallinfo"><%= checkforcookie %></p>