// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

div.info {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
} 

p.smallinfo {
    font-size: 0.8em;
    color: blue;
    padding: 15px;
    text-align: right;
} 

div.notice {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: pink;
    color: black;
}